.App {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px 12px;
  border: 1px solid #ddd;
  text-align: left;
}

button {
  margin: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.invoice-form-container {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

.invoice-form-container div {
  margin-bottom: 10px;
}

.invoice-form-container label {
  display: inline-block;
  width: 100px;
}
